* {
     box-sizing: border-box;
     margin: 0 auto;
     padding: 0;
     border: px solid black;
     font-family: 'Roboto', sans-serif;
}

:root {
     --nav-bg: #255ee9;
     --head-text: white;
     --button-ds-bg: #23272a;
     --mac-down-bg: #7289da;
     --foot-bg: #23272a;
     --h-footer: #7289da;
     --item-bg: #f6f6f6;
}

/* general */
header {
     background-image: url(../img/jumbo.png);
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
}

nav {
     background-color: var(--nav-bg);
     padding: 2% 0;
}

h1 {
     color: var(--head-text);
     font-size: 2.8rem;
     margin: 2%;
     padding: 2%;
     text-align: center;
}

h2 {
     font-size: 2.4rem;
     margin: 2.3%;
}

.max {
     max-width: 1200px;
     padding-top: 3%;
}

i {
     padding: 4px;
}

a{
     padding: 7px;
}


footer {
     background-color: var(--foot-bg);
     height: 120%;
     color: white;
}
/* //general */


/* flex section */
.d-flex {
     display: flex;
     flex-flow: row nowrap;
     flex-grow: 2;
     align-content: space-between;
}
/* //flex section */


/* header */
header a {
     color: white;
     text-decoration: none;
     padding: 12px;
}

header>section {
     padding: 5%;
     width: 75%;
}

header>section>p {
     color: var(--head-text);
     width: 70%;
     line-height: 1.8rem;
     text-align: center;
}

.link-header {
     margin: 30px;
     text-align: center;
}

.download,
.open,
.sing-in {
     border-radius: 25px;
     padding: 12px;
}

.download,
.sing-in {
     background-color: var(--head-text);
     color: black;
}

.open {
     background-color: var(--button-ds-bg);
     margin-left: 1%;
}


/* //header */


/* main */
main>div>picture>img {
     width: 500px;
     
}

.svg {
     height: 200px;
     position: relative;
     top: 40px;
}

.svg-reverse {
     transform: rotate(180DEG);
}

.description {
     margin: 4% 4% 0 0;
     line-height: 1.8rem;
}

.container-reverse {
     flex-direction: row-reverse;
     background-color: var(--item-bg);
}

.container-centred {
     text-align: center;
     align-items: center;
     background-color: var(--item-bg);
}

.start {
     text-align: center;
     margin-top: 5%;
     width: 50%;
     font-size: 1.5rem;
     background-image: url(../img/stars.svg);
     background-size: contain;
}

.download-viola {
     padding: 1%;
     margin: 6% auto;
     background-color: var(--mac-down-bg);
     width: 15%;
     text-align: center;
     border-radius: 35px;
}

.dwn-mac {
     color: var(--item-bg);
     text-decoration: none;
     font-size: 1.4rem;
}
/* //main */


/* footer */
li {
     list-style-type: none;
}

.contatti {
     margin: 0;
}

.d-flex-foot {
     padding: 5% 0% 0%;
     display: flex;
     flex-flow: row nowrap;
     
}

.ita-logo{
     width: 30px;
}

.ita{
     color: var(--head-text);
}


footer h3,
h5 {
     color: var(--h-footer);
}

.fine {
     width: 80%;
     margin-top: 2%;
     border-top: 2px solid #7289da;
     display: flex;
     flex-flow: row nowrap;
     justify-content: space-evenly;
}

.a-viola-foot{
     color: var(--head-text);
     text-decoration: none;
     padding: 1%;
     margin: 4% auto;
     background-color: var(--mac-down-bg);
     width: 15%;
     text-align: center;
     border-radius: 25px;
}

a{
     color: var(--head-text);
     text-decoration: none;
}
/* //footer */

/* sezione hover */
nav a:hover{
     text-decoration: underline;
}


.sing-in:hover,
.download:hover{
     text-decoration: underline;
     box-shadow: 3px 3px;
     color:var(--mac-down-bg);
}

.open:hover{
     background-color: #474c50e5;
}

.a-viola-foot:hover,
.download-viola:hover{
     background-color: #889ce6;
     text-decoration: underline;
}

.d-flex-foot a:hover{
     text-decoration: underline;
     color: var(--mac-down-bg);
}
/* sezione hover */